<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<nav>
		<h1>This is the index Page</h1>
			<a href="/movie">Movie Reviews</a>
			<a href="/tv">TV Reviews</a>
		</nav>
	</header>

	<main>
		
	</main>
</body>
</html>