<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head.ejs %>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Movie and TV Reviews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movie">Movie Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tv">TV Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Create Account</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
	</header>

	<main>
		<div class="jumbotron" id="jumboHome">
  <h1 class="display-3">The Best Movie and TV Reviews</h1>
  <p class="lead">Tired of latin filler text so I'm writing my own. This is some jiberish and random stuff. I'm just typing to fill in space. It looks better than having mno text on the page, but blah blah blah blah. Should I add a rnadom image onto the jumbotron? Maybe I'll think about it, but for right now your stuck with reading this boring text/filler garbage that I've typed onto the page. If your still reading this ask yourself why? Do you like reading about nothing? or maybe it's just something to do so your still reading. Whatever it is you should really stop reading cause I'm about toi do a copy pasta, and then your going to start reading the same thing again. Tired of latin filler text so I'm writing my own. This is some jiberish and random stuff. I'm just typing to fill in space. It looks better than having mno text on the page, but blah blah blah blah. Should I add a rnadom image onto the jumbotron? Maybe I'll think about it, but for right now your stuck with reading this boring text/filler garbage that I've typed onto the page. If your still reading this ask yourself why? Do you like reading about nothing? or maybe it's just something to do so your still reading. Whatever it is you should really stop reading cause I'm about toi do a copy pasta, and then your going to start reading the same thing again, again. Tired of latin filler text so I'm writing my own. This is some jiberish and random stuff. I'm just typing to fill in space. It looks better than having mno text on the page, but blah blah blah blah. Should I add a rnadom image onto the jumbotron? Maybe I'll think about it, but for right now your stuck with reading this boring text/filler garbage that I've typed onto the page. If your still reading this ask yourself why? Do you like reading about nothing? or maybe it's just something to do so your still reading. Whatever it is you should really stop reading cause I'm about toi do a copy pasta, and then your going to start reading the same thing again, again, again. Tired of latin filler text so I'm writing my own. This is some jiberish and random stuff. I'm just typing to fill in space. It looks better than having mno text on the page, but blah blah blah blah. Should I add a rnadom image onto the jumbotron? Maybe I'll think about it, but for right now your stuck with reading this boring text/filler garbage that I've typed onto the page. If your still reading this ask yourself why? Do you like reading about nothing? or maybe it's just something to do so your still reading. Whatever it is you should really stop reading cause I'm about toi do a copy pasta, and then your going to start reading the same thing again, again, again, again. I really wasn't lying so if you got this far you must like reading filler text, here have some more.  Tired of latin filler text so I'm writing my own. This is some jiberish and random stuff. I'm just typing to fill in space. It looks better than having mno text on the page, but blah blah blah blah. Should I add a rnadom image onto the jumbotron? Maybe I'll think about it, but for right now your stuck with reading this boring text/filler garbage that I've typed onto the page. If your still reading this ask yourself why? Do you like reading about nothing? or maybe it's just something to do so your still reading. Whatever it is you should really stop reading cause I'm about toi do a copy pasta, and then your going to start reading the same thing again, again, again. Tired of latin filler text so I'm writing my own. This is some jiberish and random stuff. I'm just typing to fill in space. It looks better than having mno text on the page, but blah blah blah blah. Should I add a rnadom image onto the jumbotron? Maybe I'll think about it, but for right now your stuck with reading this boring text/filler garbage that I've typed onto the page. If your still reading this ask yourself why? Do you like reading about nothing? or maybe it's just something to do so your still reading. Whatever it is you should really stop reading cause I'm about toi do a copy pasta, and then your going to start reading the same thing again, again, again, again. I really wasn't lying so if you got this far you must like reading filler text, here have some more. </p>
  <hr class="my-4">
  <p>Tired of latin filler text so I'm writing my own. This is some jiberish and random stuff. I'm just typing to fill in space. It looks better than having mno text on the page, but blah blah blah blah. Should I add a rnadom image onto the jumbotron? Maybe I'll think about it, but for right now your stuck with reading this boring text/filler garbage that I've typed onto the page. If your still reading this ask yourself why? Do you like reading about nothing? or maybe it's just something to do so your still reading. Whatever it is you should really stop reading cause I'm about toi do a copy pasta, and then your going to start reading the same thing again.</p>
</div>
	</main>

	<canvas id="canvas-radial"></canvas>


	<script src="/javascripts/app.js"></script>
</body>
</html>