<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head.ejs %>
</head>
<body>

<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Movie and TV Reviews</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link icon" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="/movie">Movie Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="/tv">TV Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="/account">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="/login">Login</a>
        </li>
        </ul>
    </div>
  </nav>
</header>

<main>
	<div class="jumbotron" id="jumboHome">
    <h1 class="display-3">The Best Movie and TV Reviews</h1>
      <p class="lead">This is Andrew Nagle and Daniel Kim's CRUD App.  We created this together.  If you haven't created an account or haven't logged in, you can still look at all the reviews that other people have created already by navigating to the top of the page.  If there is a television show or a movie that you don't see on our review app, you can create an account and log in to create a new thread for that movie or show.</p>
    <hr class="my-4">
      <p>We added some great features like a star rating and you can also add a youtube clip that has to do with your show or movie.  This is a great tool because it can give other viewers a glimpse of what your movie or show could be like. Another great feature we allowed was to allow viewers to modify or edit the details of the movie or the show that may better describe or fit the movie or show.  If there are any suggestions you would like to recommend please give us an email here @<a href="https://www.google.com/">WeDontCare@gmail.com</a></p>
  </div>
</main>

<canvas id="canvas-radial"></canvas>


<script src="/javascripts/app.js"></script>
</body>
</html>