<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the index Page</h1>
		<ul>
			<% user.forEach((user) => { %>

		
			<li>
				<%= user.username  %>
			</li>

			<% }) %>
		</ul>
</body>
</html>