<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the index Page</h1>
<a href="/tvshows">REVIEW TV SHOWS</a>
<a href="/movies">REVIEW MOVIES</a>

	<h1>This is the list of Registered Users</h1>
	 	<ul>
	 		<%users.forEach((registeredUser) =>{%>
				<li><%=registeredUser.user%></li>
		<% })%>
			

	<form action="/login" method="POST">
		Username:<input type="text" name="user">
		Password:<input type="password" name="password">
		<button>Login</button>
	</form>

</body>
</html>