<!DOCTYPE html>
<html>
<head>
	<% include ../tv/partials/head.ejs %>	
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Update TV Review</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movie">Movie Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tv">TV Reviews</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/account">Create Account</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
	</header>


<form action="/movie/<%= show._id%>/edit?_method=PUT" " method="POST">
	<input type="text" name="title" value="<%= show.title %>"><br>
	<input type="text" name="imagelink" value="<%= show.imagelink %>"><br>
	<textarea name="description"> <%= show.description %></textarea><br>
	<button type="submit">Submit</button>
</form>

<canvas id="canvas-radial"></canvas>


<script src="/javascripts/app.js"></script>
</body>
</html>