<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the tv show page</h1>
				<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/movies/">Look at movies</a>
				</li>
					<li>
					<a href="/tv/new">Create a New Show</a>
				</li>
			</ul>

	<main>
	<h2>List of TV Shows</h2>
	<ul>
		<%tv.forEach((show) =>{%>
			<li>
				<a href="/tv/<%=show._id%>"><%=show.title%></a>
				<img src="<%=show.imageLink%>" style="width: 300px, height:300px"> 
			</li>
		<% })%>
	</main>
</body>
</html>