<!DOCTYPE html>
<html>
<head>
	 <% include ../tv/partials/head.ejs %>
</head>
<body>
<div>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">TV Reviews</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link icon" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="/movie">Movie Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link icon" href="/tv">TV Reviews</a>
        </li>
         <li class="nav-item">
          <a class="nav-link icon" href="/account">Create Account</a>
        </li>
        <li class="nav-item">
           <a class="nav-link icon" href="/login">Login</a>
          </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <section class="d-flex justify-content-center">
    <div class="card border-dark bg-secondary" style="width: 25rem;">
      <div class="card-header">
        <% if (!logged) { %>
          <h1>TV Reviews</h1>
        <% }  %>
        <% if (logged) { %>
          <a href="/tv/new">Add a TV Review</a>
        <% } %>
      </div>
        <ul class="list-group list-group-flush">
          <% tv.forEach((shows) => { %>
            <li class="list-group-item">
              <a href="/tv/<%= shows._id%>"><%= shows.title %></a>
            </li>
          <% }) %>
        </ul>
      </div>
    </section>
	</main>
</div>
<canvas id="canvas-radial"></canvas>


<script src="/javascripts/app.js"></script>
</body>
</html>