<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the tv show page</h1>
				<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/movies/">Look at movies</a>
				</li>
					<li>
					<a href="/tvshows/">Look at TV SHOWS</a>
				</li>
			</ul>
	<main>
		<form action="/tvshows" method="POST">
			TV Show Title:<input type="text" name="title"><br>
			Provide Image for Show:<input type="text" name="imageLink"><br>
			Give a brief description:<textarea name="description"></textarea><br>
			<button type="submit">Submit</button>
		</form>
	</main>
</body>
</html>