<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the movie index page</h1>
				<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/tvshows/">Look at tv shows</a>
				</li>
					<li>
					<a href="/movies/new">Create a New movie</a>
				</li>
			</ul>

	<main>
	<h2>List of movies</h2>
	<ul>
		<%movie.forEach((movie) =>{%>
			<li>
				<a href="/movies/<%=movie._id%>"><%=movie.title%></a>
				<img src="<%=movie.imageLink%>" style="width: 300px, height:300px"> 
			</li>
		<% })%>
	</main>
	<h2>List of Reviews</h2>
			<%moviereviews.forEach((review) =>{%>
			<li>
				<%=review.body%>
			</li>
		<% })%>
</body>
</html>