<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the movie page</h1>
				<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/tv/">Look at tv shows</a>
				</li>
			</ul>

			

</body>
</html>