<!DOCTYPE html>
<html>
<head>
	 <% include ../movie/partials/head.ejs %>
</head>
<body>
<div>
	<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Movie Reviews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movie">Movie Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tv">TV Reviews</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/account">Create Account</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
	</header>

	<main>
		<h3><a href="/movie/new">Add a Movie Review</a></h3>

		<ul>
			<% movie.forEach((movie) => { %>
			<li>
				<a href="/movie/<%= movie._id%>"><%= movie.title %></a>
			</li>
			<% }) %>
		</ul>
	</main>
</div>
<canvas id="canvas-radial"></canvas>


<script src="/javascripts/app.js"></script>
</body>
</html>