<!DOCTYPE html>
<html>
<head>
	<% include ../movie/partials/head.ejs %>	
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">New Movie Reviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link icon" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="/movie">Movie Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="/tv">TV Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="/account">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
	</header>

<main>
	<h2>Add your stuff</h2>
	<form action="/movie" method="POST">
		<input type="text" name="title" value="title"><br>
		<input type="text" name="imageLink" value="image link"><br>
    <input type="text" name="videoLink" value="youtube url"><br>
		<textarea name="description">Write Description</textarea><br>
		<input type="submit"></button>
	</form>
</main>

<canvas id="canvas-radial"></canvas>


<script src="/javascripts/app.js"></script>

</body>
</html>