html,
body {
  z-index: 1;
  height: 100%;
  font-family: 'Cuprum', sans-serif;
}
body {
  text-align: center;
}
nav {
  font-family: 'Bree Serif', serif;
}
ul {
  list-style-type: none;
}
a {
  color: blanchedalmond;
}
a:link {
  text-decoration: none!important;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.display-3 {
  font-family: 'Bree Serif', serif;
}
.list-group-item {
  background-color: #868e96;
}
.icon:hover {
  -webkit-animation: jello 2s;
  animation: jello 2s;
}
#canvas-radial {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
#jumboHome {
  background-color: grey;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
.container-stars {
  display: flex;
  justify-content: center;
}
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.blink_me {
  animation: blinker 10s infinite;
}
@keyframes blinker {
  0% {
    color: red;
  }
  10% {
    color: yellow;
  }
  20% {
    color: blue;
  }
  30% {
    color: purple;
  }
  40% {
    color: steelblue;
  }
  50% {
    color: teal;
  }
  60% {
    color: pink;
  }
  70% {
    color: blanchedalmond;
  }
  80% {
    color: orange;
  }
  90% {
    color: brown;
  }
  100% {
    color: green;
  }
}
