@color: maroon;

html, body{
	z-index: 1;
    font-family: 'Cuprum', sans-serif;
}
body{
	text-align: center;
}

nav{
    font-family: 'Bree Serif', serif;
}

ul{
	list-style-type: none;
}

a{
    color: @color;
}

a:link{
	text-decoration: none!important;
}

.card{
    margin-top: 10px;
}

.display-3{
   font-family: 'Bree Serif', serif; 
}

.list-group-item{
    background-color: #868e96;
}

#canvas-radial {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

#jumboHome{
	background-color: grey;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px; 
}



